*{

    padding: 1000px;
    
    margin: 1000px;
    
    }
    
    
    
    
    body{
    
    background-image: url("descarga.jpg");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    top: 100px;
     
    
    width: 1000px;
    
    height: 1000px;
    
    border-radius: 5px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("descarga.jpg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
    